.blogContainer {
  display: flex;
  justify-content: space-between;

  margin: 5rem 0;
}

.blogContainer .imgContainer {
  flex: 1;
  height: 37.5rem;

  position: relative;
}
.blogContainer .imgContainer div {
  width: 100%;
  height: 100%;
  background: var(--secondaryBackgroundColor);
}
.blogContainer .imgContainer img {
  width: 100%;
  height: 100%;
  object-fit: cover;

  position: absolute;
  bottom: 1rem;
  right: 1rem;
}

.blogContainer .blogContent {
  flex: 2;
  margin-right: 5rem;

  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.blogContainer .blogContent h2 {
  font-size: 3.5rem;
  text-transform: uppercase;
  color: var(--secondaryTextColor);
}
.blogContainer .blogContent p {
  font-size: 2.25rem;
}
.blogContainer .blogContent a {
  font-size: 2.25rem;
  border: 0.2rem solid var(--secondaryTextColor);

  width: 20rem;
  padding: 1rem 0;
  text-align: center;
  text-transform: uppercase;
}

@media screen and (max-width: 1256px) {
  .blogContainer .imgContainer {
    flex: 2;
  }

  .blogContainer .blogContent {
    flex: 3;
  }
}

@media screen and (max-width: 776px) {
  .blogContainer {
    flex-direction: column;

    min-height: 525px;
    margin: 3rem 0;
  }

  .blogContainer .imgContainer {
    order: 1;
    flex: 1;
    height: 27.5rem;
  }

  .blogContainer .blogContent {
    flex: 1;
    order: 2;
    margin: 0;
  }
  .blogContainer .blogContent h2 {
    font-size: 3rem;
  }
  .blogContainer .blogContent p,
  .blogContainer .blogContent a {
    font-size: 2rem;
  }
}